---
import Layout from "../layouts/Layout.astro";

type Location = { title: string; youtubeId: string };

const locations: Location[] = [
  { title: "Santa Ponsa", youtubeId: "Z9F_jN6xpFs" },
  { title: "Paguera", youtubeId: "RejKm2yT3SI" },
  { title: "Maspalomas", youtubeId: "b7uf9lPsVFo" },
];

function toYoutubeUrl(location: Location) {
  return (
    `https://www.youtube.com/embed/${location.youtubeId}` +
    `?autoplay=1&mute=1&theme=dark&showinfo=0&controls=0`
  );
}

const location = locations[Math.floor(Math.random() * locations.length)];
---

<Layout title="Holiday View">
  <main>
    <h1>Welcome to <span class="text-gradient">{location.title}</span></h1>
    <iframe
      class="webcam-frame"
      src={toYoutubeUrl(location)}
      frameBorder="0"
      allow="autoplay; encrypted-media"
      allowFullScreen
      title="video"
    >
    </iframe>
  </main>
</Layout>

<style>
  html,
  body {
    height: 100%;
    margin: 0;
  }
  main {
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
    color: #888;
    padding: 1rem;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .webcam-frame {
    flex: 1 1 auto;
    margin: 1rem;
  }
</style>

<script>
  function goFullscreen() {
    if (document?.documentElement?.requestFullscreen) {
      document.documentElement.requestFullscreen();
    } else if (document?.documentElement?.webkitRequestFullscreen) {
      document.documentElement.webkitRequestFullscreen();
    } else if (document?.documentElement?.msRequestFullscreen) {
      document.documentElement.msRequestFullscreen();
    }
  }
  document.addEventListener("click", goFullscreen);
</script>
