---
import Layout from "../layouts/Layout.astro";

type Location = { title: string; youtubeId: string };

const locations: Location[] = [
  {
    title: "Santa Ponsa",
    youtubeId: "Z9F_jN6xpFs",
    weatherUrl: "https://forecast7.com/en/39d502d47/santa-ponsa/",
  },
  {
    title: "Paguera",
    youtubeId: "RejKm2yT3SI",
    weatherUrl: "https://forecast7.com/en/39d542d45/peguera/",
  },
  {
    title: "Maspalomas",
    youtubeId: "b7uf9lPsVFo",
    weatherUrl: "https://forecast7.com/en/27d76n15d59/maspalomas/",
  },
];

function toYoutubeUrl(location: Location) {
  return (
    `https://www.youtube.com/embed/${location.youtubeId}` +
    `?autoplay=1&mute=1&theme=dark&showinfo=0&controls=0`
  );
}

const location = locations[Math.floor(Math.random() * locations.length)];
---

<Layout title="Holiday View">
  <main>
    <div class="header-container">
      <h1 class="header-title">
        Welcome to <span class="text-gradient">{location.title}</span>
      </h1>
      <a
        class="header-weather weatherwidget-io"
        href={location.weatherUrl}
        data-mode="Current"
        data-theme="dark"></a>
    </div>
    <iframe
      class="webcam-frame"
      src={toYoutubeUrl(location)}
      frameBorder="0"
      allow="autoplay; encrypted-media"
      allowFullScreen
      title="video"
    >
    </iframe>
  </main>
</Layout>

<style>
  main {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .header-weather {
    width: 240px;
  }
  .header-title {
    flex: 1 1 auto;
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
    color: white;
    padding: 2rem;
    text-align: center;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .webcam-frame {
    flex: 1 1 auto;
    margin: 0rem;
    background-color: black;
  }
</style>

<script>
  function goFullscreen() {
    if (document?.documentElement?.requestFullscreen) {
      document.documentElement.requestFullscreen();
    } else if (document?.documentElement?.webkitRequestFullscreen) {
      document.documentElement.webkitRequestFullscreen();
    } else if (document?.documentElement?.msRequestFullscreen) {
      document.documentElement.msRequestFullscreen();
    }
  }
  document.addEventListener("click", goFullscreen);
</script>

<script>
  // See <https://weatherwidget.io>
  !(function (d, s, id) {
    var js,
      fjs = d.getElementsByTagName(s)[0];
    if (!d.getElementById(id)) {
      js = d.createElement(s);
      js.id = id;
      js.src = "https://weatherwidget.io/js/widget.min.js";
      fjs.parentNode.insertBefore(js, fjs);
    }
  })(document, "script", "weatherwidget-io-js");
</script>
